// headlines
@mixin headline-1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-semibold;
  line-height: $line-heigth-h1;
}

@mixin headline-2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-semibold;
  line-height: $line-heigth-h2;
}

@mixin headline-3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-medium;
  line-height: $line-heigth-h3;
}

// shell
@mixin menu {
  font-size: $font-size-menu;
  font-weight: $font-weight-semibold;
  line-height: $line-height-menu;
}

@mixin footer-text {
  font-size: $font-size-footer;
  font-weight: $font-weight-regular;
  line-height: $line-height-footer;
}

// flowing text
@mixin paragraph-large {
  font-size: $font-size-paragraph-large;
  font-weight: $font-weight-regular;
  line-height: $line-height-paragraph-large;
}

@mixin paragraph {
  font-size: $font-size-paragraph;
  font-weight: $font-weight-regular;
  line-height: $line-height-paragraph;
}

@mixin caption {
  font-size: $font-size-caption;
  font-weight: $font-weight-regular;
  line-height: $line-height-caption;
}

// elements
@mixin button-text {
  font-size: $font-size-button;
  font-weight: $font-weight-medium;
}

@mixin badge-text {
  font-size: $font-size-badge;
  font-weight: $font-weight-regular;
}
