// fluid type
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

// headlines
@mixin headline-1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-semibold;
  line-height: $line-height-h1;
  @media screen and (max-width: $max_width_s) {
    font-size: $font-size-h1-s;
  }
}

@mixin headline-2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-semibold;
  line-height: $line-height-h2;
}

@mixin headline-3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-medium;
  line-height: $line-height-h3;
}

// shell
@mixin menu {
  font-size: $font-size-menu;
  font-weight: $font-weight-semibold;
  line-height: $line-height-menu;
  @media screen and (max-width: $max_width_s) {
  font-size: $font-size-menu-s;
  }
}

@mixin footer-text {
  font-size: $font-size-footer;
  font-weight: $font-weight-regular;
  line-height: $line-height-footer;
}

// flowing text
@mixin paragraph-large {
  font-size: $font-size-paragraph-large;
  font-weight: $font-weight-regular;
  line-height: $line-height-paragraph-large;
}

@mixin paragraph {
  font-size: $font-size-paragraph;
  font-weight: $font-weight-regular;
  line-height: $line-height-paragraph;
}

@mixin caption {
  font-size: $font-size-caption;
  font-weight: $font-weight-regular;
  line-height: $line-height-caption;
}

// elements
@mixin button-text {
  font-size: $font-size-button;
  font-weight: $font-weight-medium;
}

@mixin badge-text {
  font-size: $font-size-badge;
  font-weight: $font-weight-regular;
}

@mixin highlight-text {
  font-size: $font-size-highlight;
  font-weight: $font-weight-semibold;
  @media screen and (max-width: $max_width_s) {
    font-size: $font-size-highlight-s;
  }
}
