// rgba
$color-black: rgba(0, 0, 0, 1);
$color-darkgray:rgba(32, 32, 32, 1);
$color-gray: rgba(57, 57, 57, 1);
$color-lightgray: rgba(250, 250, 250, 1);
$color-white: rgba(255, 255, 255, 1);

// rgb
$rgb-black: rgb(0, 0, 0);
$rgb-darkgray: rgb(32, 32, 32);
$rgb-gray: rgba(57, 57, 57);
$rgb-lightgray: rgb(250, 250, 250);
$rgb-white: rgb(255, 255, 255);
