// font-family
$font-family-base:
  IBM Plex Sans,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;

//--------------------------------------------- sizes

// font-size
$min_width_xs: 320px;
$max_width_xs: 600px;
$min_width_s: 601px;
$max_width_s: 904px;
$min_width: 905px;
$max_width: 1440px;
$min_font: 12px;
$max_font: 16px;

// headlines
$font-size-h1: 5rem;
$font-size-h1-s: 4rem;
$font-size-h2: 2.25rem;
$font-size-h3: 1.5rem;

// shell
$font-size-menu: 1.5rem;
$font-size-footer: 1rem;

// flowing text
$font-size-paragraph-large: 1.5rem;
$font-size-paragraph: 1.5rem;
$font-size-caption: 1rem;

// elements
$font-size-button: 1.5rem;
$font-size-badge: 1rem;
$font-size-highlight: 5rem;
$font-size-highlight-s: 4rem;

//--------------------------------------------- font-weight

$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

//--------------------------------------------- line-height

// headlines
$line-height-h1: 5rem;
$line-height-h2: 3rem;
$line-height-h3: 2rem;

// shell
$line-height-menu: 2rem;
$line-height-footer: 1.125rem;

// flowing text
$line-height-paragraph-large: 2rem;
$line-height-paragraph: 1.375rem;
$line-height-caption: 1.125rem;

// radius
$box-radius: 0.5rem;
