// font-family
$font-family-base:
  IBM Plex Sans,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;

//--------------------------------------------- sizes

// font-size
$font-size-base: 16px;

// headlines
$font-size-h1: 5rem;
$font-size-h2: 2.25rem;
$font-size-h3: 1.5rem;

// shell
$font-size-menu: 1.5rem;
$font-size-footer: 0.875rem;

// flowing text
$font-size-paragraph-large: 1.5rem;
$font-size-paragraph: 1.5rem;
$font-size-caption: 0.875rem;

// elements
$font-size-button: 1.5rem;
$font-size-badge: 1.5rem;

//--------------------------------------------- font-weight

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

//--------------------------------------------- line-height

// headlines
$line-height-h1: 5rem;
$line-height-h2: 3rem;
$line-height-h3: 2rem;

// shell
$line-height-menu: 2rem;
$line-height-footer: 1.125rem;

// flowing text
$line-height-paragraph-large: 2rem;
$line-height-paragraph: 1.375rem;
$line-height-caption: 1.125rem;

$box-radius: 0.5rem;
