html, body {
  font-family: $font-family-base;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  @media screen and (max-width: $max_width_s) {
    @include fluid-type($min_width_xs, $max_width_s, $min_font, $max_font);
  }
  --columnGap: 1.5rem;
  // --rowGap: 1.5rem;
  // --column-gap-compact: 1rem;
  // --row-gap-compact: 1rem;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

//Hide scrollbar for Chrome, Safari and Opera
::-webkit-scrollbar {
  display: none;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  @include headline-1;
}

h2 {
  @include headline-2;
}

h3 {
  @include headline-3;
}
